name: Project analysis

on:
  push:
    branches:
      - master

jobs:
  analyse-project:
    runs-on: [ self-hosted, network-access ]

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip

      - name: Install requirements
        run: |
          source .venv/bin/activate
          pip install -r requirements.txt

      - name: Grand permissions
        run: chmod +x exec/run-with-config

      - name: Run project analyzer
        run: |
          source .venv/bin/activate
          exec/run-with-config project_analyzer \
            "${{ secrets.CONFIG_FILE_CONTENT }}" \
            --repo ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
