name: Release new version

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/**"
      - "gradle/libs.versions.toml"
      - "src/**"
      - "build.gradle.kts"
      - "gradle.properties"
      - "settings.gradle.kts"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clean build directory
        run: ./gradlew clean --no-daemon

      - name: Publish artifact
        run: ./gradlew publish --no-daemon
        env:
          JWIZARD_MAVEN_NAME: ${{ secrets.MVN_LIB_PUBLISHER_NAME }}
          JWIZARD_MAVEN_SECRET: ${{ secrets.MVN_LIB_PUBLISHER_SECRET }}

  run-tools:
    runs-on: [ self-hosted, network-access ]
    needs: publish

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Grand permissions to run packages grabber
        run: chmod +x exec/run-with-config

      - name: Run cache version
        run: exec/run-with-config cache_version \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}

      - name: Run packages grabber
        run: exec/run-with-config packages_grabber \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}
